# Build artifacts
dist/
**/coverage/**
!**/coverage/lcov.info
.vscode-test/
*.tsbuildinfo
**/*.d.ts
**/*.d.ts.map

# Node
node_modules/

# Editor
.vscode/
.idea/
.DS_Store

# Cursor
.cursor/
memory-bank/*.md
**/.log
docs/devs/

# Others
out/
.repomix/
*.vsix
