# Build artifacts
dist/
**/coverage/**
!**/coverage/lcov.info
.vscode-test/

# Generated source maps
**/*.d.ts.map
**/*.cjs.map
**/*.mjs.map

# Node
node_modules/
src/webview/node_modules/

# Editor
.idea/
.DS_Store
.secrets

# Cursor
.cursor/*
memory-bank/
!memory-bank/*.md
**/.log
docs/devs/
docs/v1.0/

# Others
out/
.repomix/
.vsix
archive/
test-file.txt
test-results.json
docs/phase-4-restructuring-plan.md
docs/maybe/

docs/project-structure.md

docs/guides/path-aliases.md
aimemory_OG
